# Python
*.pyc
__pycache__/
*.pyo
*.egg-info/
dist/
build/
*.egg
.eggs/
venv/
.venv/
.env

# Django
*.sqlite3
*.log
staticfiles/
media/
db.sqlite3

# 测试数据
backend/apps/houses/management/commands/seed.py

# Node
node_modules/
frontend/dist/
.npm
*.tgz

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Claude
.claude/
